<?xml version="1.0"?>
<!-- <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="FME_SampleModule::mastering" title="Mastering"
                          translate="title" sortOrder="900"/>
            </resource>
        </resources>
    </acl>
</config> -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">                
                <resource id="FME_Extensions::fmeextensions" title="FME Extensions" sortOrder="110">
                        <resource id="FME_SampleModule::main_menu" title="FME Job Portal" sortOrder="109"> 
                         <resource id="FME_SampleModule::mastering" title="Students" translate="title" sortOrder="108"/>
                         <resource id="FME_SampleModule::jobs" title="Jobs" translate="title" sortOrder="107"/>
                       </resource>                                
                </resource>                
            </resource>
        </resources>
    </acl>
</config>
